.handlebar {
    width: 100%;
    display: flex;
    padding: 2%;
    border-bottom: 1px solid var(--border-gray);
    box-shadow: -1px 1px 1px 0px rgba(184, 184, 184, 0.75);

    .title {
        width: 80%;

        a {
            text-decoration: none;
            color: black;

            h1 {
                font-weight: 900;
            }
        }
    }

    .dark-mode-container {
        margin-left: auto;
        padding-right: 5%;

        button {
            display: flex;
            cursor: pointer;
            border: 0;
            background-color: transparent;
        }

        img {
            align-self: center;
            width: 36px;
            height: 36px;
        }

    }
}