.body {
    position: relative;
    min-height: 88.1vh;
}

.cardContainer {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

    a {
        width: 19%;
        margin: 1%;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .loader {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding-top: 200px;

        span {
            width: 60px !important;
            height: 60px !important;
            margin: 0 auto;
        }
    }
}

.dark-mode {
    .body {
        transition: all 0.5s;
        background-color: var(--bg-body-dark);
    }

}

.light-mode {
    .body {
        transition: all 0.5s;
        background-color: #f1f1f1;
    }

}

@media screen and (max-width: 1550px) {
    .cardContainer {
        a {
            width: 28%;
        }
    }
}

@media screen and (max-width: 1250px) {
    .cardContainer {
        a {
            width: 35%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .cardContainer {
        flex-direction: column;


        a {
            margin: 1% auto;
            width: 40%;
        }
    }
}

@media screen and (max-width: 850px) {
    .cardContainer {
        a {
            width: 55%;
        }
    }
}

@media screen and (max-width: 600px) {
    .cardContainer {
        a {
            width: 70%;
        }
    }
}