.body {
    position: relative;
    min-height: 88.1vh;
}

.cardContainer {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

    a {
        width: 19%;
        margin: 1%;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
}

.dark-mode {
    .body {
        transition: all 0.5s;
        background-color: var(--bg-body-dark);
    }

}

.light-mode {
    .body {
        transition: all 0.5s;
        background-color: #f1f1f1;
    }

}