.searchbar {
    display: flex;
    padding: 2% 6%;

    .bar {
        width: 70%;

        .text-field {
            outline: none;
            width: 50%;
        }
    }
}

.ligth-mode {
    .bar {
        .MuiOutlinedInput-root {
            color: var(--text-color-dark);
        }

        .text-field {
            label {
                color: var(--text-color-dark);
            }
        }

        .autoComplete {}
    }
}

.dark-mode {
    .bar {
        .MuiOutlinedInput-root {
            color: var(--text-color-light);
        }


        .text-field {
            label {
                color: var(--text-color-light);
            }

            fieldset {
                border-color: rgb(192, 192, 192);
                color: white;
            }
        }


    }


    .autoComplete {
        .MuiButtonBase-root {
            color: var(--text-color-light);
        }

        input {
            color: var(--text-color-light);
        }

        label {
            color: var(--text-color-light);
        }

        fieldset {
            border-color: rgb(192, 192, 192);
            color: white;
        }
    }
}