.App {
    min-height: 100vh;
}

.detailScreen {
    margin: 2% auto;
    width: 80%;

    .backButton {
        display: flex;
        padding: 2%;

        a {
            transition: all 0.2s;
            text-decoration: none;
            color: black;
            border: 2px solid #ccc;
            width: 10%;
            padding: 10px;
            box-shadow: 1px 1px 6px 1px rgba(185, 185, 185, 0.75);

            span {
                padding: 0 15% 0 0;
                font-size: 1.4rem;
            }
        }
    }

    .detailContainer {
        display: flex;
        width: 80%;
        margin: 0 auto;

        .countryFlag {
            width: 50%;

            border-radius: 10px;

            .flag {
                width: 100%;
                height: 350px;
                box-shadow: 1px 1px 10px 1px rgba(185, 185, 185, 0.75);
            }
        }

        .countryInfoContainer {
            width: 50%;
            padding: 5%;
            line-height: 25px;

            span {
                font-weight: normal;
                opacity: 0.7;
            }
        }
    }
}

.dark-mode {
    .detailScreen {
        .backButton {
            a {
                transition: all 0.2s;
                border: 2px solid rgb(134, 134, 134);
                box-shadow: -1px 1px 5px 1px rgba(153, 153, 153, 0.75);
            }
        }
    }
}