:root {
    --bg-dark: #260520;
    --bg-light: #E9E9E9;
    --text-color-light: rgb(231, 231, 231);
    --text-color-dark: #000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.light-mode {
    transition: all 0.5s;
    background-color: var(--bg-light);
}

.dark-mode {
    transition: all 0.5s;
    background-color: var(--bg-dark);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text-color-light);
    }

}